torch
transformers
streamlit
diffusers
accelerate
opencv-python
numpy
torchvision
torchaudio
requests
torch==1.13.1
Pillow
gradio
langchain
PyMuPDF
scipy
selenium
webdriver_manager
huggingface_hub
safetensors
